// Common variables
$common-background-color: #F3F3F3;
$common-text-color: #666;
$common-border: 1px solid #E7E7E7;
$common-border-color: #E7E7E7;
$min-width: 300px;

$menu-active-background: #4CAF50;
$menu-hover-background: #DDD;

$table-tr-active-background: #CECECE;
$table-tr-even-background: $common-background-color;
