<!doctype html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="./node_modules/normalize.css/normalize.css">
  <link type="text/css" rel="stylesheet" href="./css/main.css">
  <title>Angular task list</title>
</head>

<body ng-app="app">

  <div class="wrapper">

    <header class="header">
      <nav>
        <ul ng-init='activeMenu="tasks"'>
          <li><a href='/#/' ng-class='{"active": activeMenu === "tasks"}' ng-click='activeMenu="tasks"'>Task List</a></li>
          <li><a href='/#/task/new"' ng-class='{"active": activeMenu === "task"}' ng-click='activeMenu="task"'>New task</a></li>
        </ul>
      </nav>
    </header><!-- .header-->

    <main class="content">
      <div ng-view></div>
    </main><!-- .content -->

    <footer class="footer">
      <p>Copyright 2015 Grigory Ostapenko</p>
    </footer><!-- .footer -->

  </div><!-- .wrapper -->

  <!-- External Dependancies -->
  <script src="./node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-route/angular-route.js"></script>
  <script src="./node_modules/angular-mocks/angular-mocks.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>

  <!-- Project dependancies -->
  <script src="./js/main.js"></script>

  <!-- Modules -->
  <script src="./js/app.js"></script>

  <!-- Controllers -->
  <script src="./js/controllers/TaskListController.js"></script>
  <script src="./js/controllers/TaskController.js"></script>

  <!-- Directives -->
  <script src="./js/directives/ngReallyClick.js"></script>

  <!-- Services -->
  <script src="./js/services/TasksService.js"></script>
</body>

</html>