<section class='task-filters menu'>
  <!--[ <a href='' ng-click='vm.predicate=""'>unsorted</a> ]-->
  <ul class='is-active-task-filter'>
    <li><a href='' ng-class='{"active": vm.isActiveFilter === undefined}' ng-click='vm.isActiveFilter=undefined'>All</a></li>
    <li><a href='' ng-class='{"active": vm.isActiveFilter === true}' ng-click='vm.isActiveFilter=true'>Active</a></li>
    <li><a href='' ng-class='{"active": vm.isActiveFilter === false}' ng-click='vm.isActiveFilter=false'>Completed</a></li>
    <ul>
      <li>
        <span class='task-search'>
          <label for='taskSearch'>Search tasks:</label>
          <input type='text' name='taskSearch' class='task-search-input' placeholder='Search the task' ng-model='vm.search'>
        </span>
      </li>
    </ul>
  </ul>
</section>

<section class='task-table'>
  <table id='task-table'>
    <colgroup>
      <col width='50%'></col>
      <col width='15%'></col>
      <col width='15%'></col>
      <col width='10%'></col>
      <col width='10%'></col>
    </colgroup>
    <thead>
      <tr>
        <th>
          <a href="" ng-click="vm.order('title')">Task</a>
          <span class="sortorder" ng-show="vm.predicate === 'title'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th>
          <a href="" ng-click="vm.order('priority')">Priority</a>
          <span class="sortorder" ng-show="vm.predicate === 'priority'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th>
          <a href="" ng-click="vm.order('endDate')">End Date</a>
          <span class="sortorder" ng-show="vm.predicate === 'endDate'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th>Active</th>
        <th><input type='button' ng-click='vm.showNewTask()' value='Add'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='task in vm.getFilteredTasks(vm.isActiveFilter) | orderBy:vm.predicate:vm.reverse | filter: vm.search' ng-dblClick='vm.showTaskDetails(task.id)'>
        <td ng-bind='::task.title'></td>
        <td ng-bind='::task.priority'></td>
        <td ng-bind='::task.endDate | date : "dd.MM.yyyy"'></td>
        <td><input type='checkbox' ng-checked='task.isActive' ng-model="task.isActive" ng-change='vm.TasksService.setTask(task)'></td>
        <td><input type='button' value='delete' really-click='vm.removeTask(task.id);' really-message='Are you sure, you want to delete task "{{task.title}}"?'></td>
      </tr>
    </tbody>
  </table>
</section>