<div class='modal-wrapper'>
  <div class='centerpoint'>
    <div class='dialog '>
      <form name='taskForm' ng-submit='vm.saveTask();' class='task-view'>
        <input name='taskId' type='hidden' ng-model='vm.task.id'>

        <div class='field'>
          <label for='taskTitle'>Task</label>
          <input name='taskTitle' type='text' ng-model='vm.task.title' placeholder='Type short task title' ng-init='vm.task.title = vm.task.title || ""' required>
          <span class='error' gn-dirty ng-show='vm.isInvalid("taskTitle")'>Task is required!</span>
        </div>

        <div class='field'>
          <label for='taskPriority'>Priority</label>
          <input name='taskPriority' type='number' min='1' max='10' ng-model='vm.task.priority' ng-init='vm.task.priority = vm.task.priority || vm.defaultPrioroty' required>
          <span class='error' ng-show='vm.isInvalid("taskPriority")'>Priority is required and must be from 1 to 10!</span>
        </div>

        <div class='field'>
          <label for='taskEndDate'>End Date</label>
          <input name='taskEndDate' type='date' ng-model='vm.task.endDate' ng-init='vm.task.endDate = vm.task.endDate || vm.defaultDate'>
        </div>

        <div class='field'>
          <label for='taskIsActive'>Active</label>
          <input name='taskIsActive' type='checkbox' ng-model='vm.task.isActive'
            ng-init='vm.task.isActive = vm.currentIsActive'>
          <br>
        </div>

        <div class='field'>
          <label for='description'>Description</label>
          <textarea name='description' resize='none' rows='5' ng-model='vm.task.description'></textarea>
        </div>

        <input type='submit' value='Save' />
        <input type='button' value='Close' ng-click='vm.closeModal()'/>
      </form>
    </div>
  </div>
</div>